<html>
<head>
    <meta charset="UTF-8">
    <title>详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="alternate icon" type="image/png" href="/i/favicon.png">
    <link rel="stylesheet" href="/src/lib/amaze/css/amazeui.min.css"/>
    <!-- <link rel="stylesheet" href="/src/lib/highlight/highlight.min.css"> -->
    <link rel="stylesheet" href="/src/css/detail.css">
    <script src="/src/lib/prettify/prettify.min.js"></script>
</head>
<body onload="prettyPrint()">

    {% include "header.html" ignore missing %}

    <div class="am-g">
      <div id="toc" class="am-u-sm-2 am-g-fixed sidebar">
        
      </div>
      <div class="am-u-sm-10" style="margin-top: 20px;">
        <div class="markdownWrapper">
          {% block info %}
          <div class="infoHeader">
            <h1>{{info.title}}</h1>
              <p><span class="am-badge am-text-default am-badge-danger">所属分类:</span> {{info.tag}}</p>
              <p><span class="am-badge am-text-default am-badge-success">创建时间:</span> {{info.ctime}} &nbsp;&nbsp;&nbsp;&nbsp;<span class="am-badge am-text-default am-badge-warning">更新时间</span> {{info.utime}}</p>
            <p><span class="am-badge am-text-default am-badge-secondary">简介:</span> {{info.description}}</p>

            <hr>
          </div>
          {%endblock%}
          <div class="markdown">
            {% autoescape false %}
              {{info.content}} 
            {% endautoescape %}
          </div>
        </div>
      </div>
    </div>
    {% include "footer.html" ignore missing %}
    <script src="/src/lib/jquery/jquery.1.8.3.min.js"></script>
    <script src="/src/lib/amaze/js/amazeui.min.js"></script>
    <script src="/src/lib/highlight/highlight.min.js"></script>
    <script src="/src/js/detail.js"></script>
</body>
</html>