<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>首页</title>
  <meta name="description" content="这是一个 列表 页面">
  <meta name="keywords" content="component">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/src/lib/amaze/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/src/lib/amaze/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

{% include "header.html" ignore missing %}

<div class="am-cf admin-main">
  <!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        {% for item in tagList %}
          <li><a href="#{{item.tag}}"><span class="am-icon-home"></span> {{item.tag}}<span class="am-badge am-badge-secondary am-margin-right am-fr">{{item.num}}</span></a></li>
        {%- endfor %}

        <!-- <li><a href="admin-index.html"><span class="am-icon-home"></span> 首页<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
        
        <li><a href="admin-table.html"><span class="am-icon-table"></span> 表格</a></li>
        <li><a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a></li>
        <li><a href="#"><span class="am-icon-sign-out"></span> 注销</a></li> -->
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 小知识</p>
          <p>http302跳转对于seo来说好于301哦。—— </p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> 每日阅读</p>
          <p><a target="_blank" href="http://www.ruanyifeng.com/blog/2014/12/unicode.html">Unicode与JavaScript详解</a>—— 阮一峰</p>
        </div>
      </div>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> 畅言热评</p>
          <p><a href="http://mp.weixin.qq.com/s?__biz=MzA3NTc3OTMwMA==&mid=416945658&idx=1&sn=1c389a8cca0c6fe77a36cd8d15ae8131&scene=1&srcid=0106rDE6Rg8JGDYHwg6mD6T0#rd" target="_blank">30名摸金校尉落网，1号人物看山河定墓位</a></p>
        </div>
      </div>
      
      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> 友情链接</p>
          <p><a target="_blank" href="http://tnt.changyan.sohu.com/">深度订阅你关注的公司和领域</a>—— 畅言TNT</p>
        </div>
      </div>
      
    </div>
  </div>
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    {% for item in tagList %}
      <div class="am-cf am-padding">
        <div class="am-fl am-cf" id="{{item.tag}}"><strong class="am-text-primary am-text-lg">{{item.tag}}</strong> / <small>List</small></div>
      </div>
      <ul class="am-avg-sm-2 am-avg-md-4 am-avg-lg-6 am-margin gallery-list">
        {% for sitem in item.list %}
            <li data-id="{{item.id}}">
              <a target="_blank" href="/component/detail/{{sitem.id}}">
                <img class="am-img-thumbnail am-img-bdrs" src="{{sitem.thub_url}}" alt="{{sitem.title}}"/>
                <div class="gallery-title">{{sitem.title}}</div>
                <div class="gallery-desc">作者: {{sitem.author.nickname}}</div>
                <div class="gallery-desc">简介: {{sitem.description}}</div>
              </a>
            </li>
        {%- endfor %}
      </ul>

    {%- endfor %}

  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

{% include "footer.html" ignore missing %}

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/src/lib/amaze/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/src/lib/amaze/js/amazeui.min.js"></script>
<script src="/src/lib/amaze/js/app.js"></script>
{% include "commonjs.html" ignore missing %}
</body>
</html>
