* {
    margin: 0;
    bottom: 0;
}
.main,.sitebar {
    height: 300px;
    font: bolder 20px/300px '微软雅黑';
    color: #fff;
    text-align: center;
}
.main {
    width: 100%;
    float: left;
}
.main .content {
    margin-left: 200px;
    background-color: red;
}
.sitebar {
    width: 200px;
    float: left;
    margin-left: -100%;
    background-color: green;
}